@import "colors";

body {
    font-family: Roboto, Open sans, sans-serif;
    height:100%
}

#banniere {
  color:$aformac;
  height:175px;

    .jumbotron {
        background-color: unset;
    }
}

#menu {
    background-color: $aformac;
    font-weight: 700;
    a {
        color:$clouds;
    }
    a:hover {
        color:$nephritis;
    }
    button {
        color:$clouds;
    }
}

/*#prez {
    background-image: url("../img/promo404-900.gif");
    background-repeat: no-repeat;
}*/

#text {
    font-size: 1.5em;
    color:$asbestos;
}

#caroussel {
    color:$silver;
    padding:1em 0;

    .carousel-item {
        padding: 4.5em 0;
    }
}

#target{
  position: relative;
  /*z-index: -1;*/
}

.stagiaire {
    text-align: center;
    color:$concrete;
    padding: 1em;

    h2 {
        font-size:0.9em;
    }
    h4 {
        font-size:0.7em;
    }
    a {
        font-size:0.8em;
        color:$silver;
        text-decoration:none;
        display:none;
    }
    a:hover {
        color:$nephritis;
    }
}

#main {
    padding: 1em 0;
    .jumbotron {
        background-color: unset;
    }
}

footer {
    background-color: $aformac;
    padding: 1em 0;
    color:$clouds;
    iframe {
        width:100%;
        height:auto;
    }
}

@media screen and (min-height : 900px){
  //Pour coller le footer en bas de page
  footer{
    position : absolute;
    bottom: 0;
  }
}
